/* =============
    Demo
============= */
#star-grid{
    display: grid;
    grid-template-columns: auto 75% auto;
    grid-template-areas: ". stars .";
    background-color: black;
    #star-container{
        grid-area: stars;
        // display: flex;
        // justify-items: center;
        // align-items: center;
        // background-color: black;
        height: 1000px;
    
        #star1{
            font-size: 100px;
            color: $red;
            padding: 100px;
           // border: 3px red solid;
        }
    
        #star2{
            font-size: 100px;
            color: $cream;
            padding: 100px;
           // border: 3px red solid;
        }
    
        #star3{
            font-size: 100px;
            color: $blue;
            padding: 100px;
           // border: 3px red solid;
        }
    }

    // .h1{
    //     color: white;
    // }
}

